*{
	margin:0;
	padding:0;
}
body{
	background-image:url("images/login.jpg");
	background-repeat:no-repeat;
}
#content{
	width:854px;
	height:370px;
	margin:250px auto;
}
#inp{
	padding-left:330px;
	padding-top:79px;
}
#pid{
	padding-left:330px;
	padding-top:10px;
}
#sid{
	position:absolute;
	left:875px;
	top:325px;
}
#user{
	width:200px;
	height:20px;
}
#pass{
	width:200px;
	height:20px;
}
label{
	color:white;
}